* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 84, 90);
}
#panel {
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: white;
}
#ptop {
  padding: 0px 30%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: white;
  width: 100%;
  height: 100px;
  background-color: rgb(11, 61, 26);
}
.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.elem h2 {
  font-weight: 500;
  font-size: 22px;
}
.box {
  padding: 10px 20px;
  color: rgb(18, 3, 3);
  font-weight: 700;
  font-size: 22px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
#pbtm {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 10px;
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: brown;
  color: white;
  border-radius: 50%;
  font-weight: 500;
}
.bubble:hover {
  cursor: pointer;
  background-color: rgb(234, 1, 1);
}
.buttons {
  /* display: flex; */

  gap: 40px;
  height: 40px;
}